@use "variables";

img {
  max-width: 100%;
}

.nav-principal {
  color: variables.$primary;
  font-weight: bold;
}
.g {
  font-size: 9rem;
  font-family:"Montserrat bold";

}
.formulario-reserva
{
    color:white;
    background-color:variables.$dark;
    border-radius: 0.9rem;
    legend{
      font-family: "Montserrat bold";
      text-align: center; 
      font-size: 2rem;  
    }
    h6{
    text-align: center;
    }

}
button
{
background-color: variables.$primary;
text-align: center; 
color: #ffff;
border-radius: 0.5rem;
font-size: 1rem;
font-family:"Montserrat";
padding: 0.25rem ;
}

.bg-enc-text
{
background-color: variables.$primary;
text-align: center; 
color: #ffff;
padding: 0.25rem ;
}

.m {
  font-size: 4rem;
}

.formulario-inicio {
  color: white;
  background-color: variables.$dark;
  border-radius: 0.9rem;
  legend {
    font-family: "Montserrat bold";
    text-align: center;
  }
}

.pjustify {
  margin: 0;
  text-indent: 2rem;
  text-align: justify;
}

.btn-dob
{
  background-color: variables.$primary;
  text-align: center; 
  color: #ffff;
  font-size: 1rem;
  font-family:"Montserrat";
  padding: 0.25rem ;
  }
 
  .sub-title {
    font-family: "Montserrat bold";
    text-align: center;
    color: variables.$primary;
    font-weight: bold;
    font-size: 2rem;
  }

  .btn-dark
  {
    background-color: variables.$dark;
    text-align: center; 
    color: #ffff;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family:"Montserrat";
    padding: 0.25rem ;
    }

    .pq-text
    {
      background-color: variables.$primary;
      text-align: center; 
      color: #ffff;
      padding: 0.5rem ;
      }