@use "variables";

img {
  max-width: 100%;
}

.nav-principal {
  color: variables.$primary;
  font-weight: bold;
}
.g {
  font-size: 4rem;
}
.formulario-reserva
{
    color:white;
    background-color:variables.$dark;
    border-radius: 0.9rem;
    legend{
    text-align: justify;    
    }
    h6{
    text-align: center;
    }
}
button

{
background-color: variables.$primary;
text-align: center; 
color: #ffff;
border-radius: 0.9rem;
font-size: 1rem;
font-family:"Montserrat Bold";
padding: 0.25rem ;
}

.bg-enc-text
{
background-color: variables.$primary;
text-align: center; 
color: #ffff;
padding: 0.25rem ;
}

.m {
  font-size: 2rem;
}
.formulario-inicio {
  color: white;
  background-color: variables.$dark;
  border-radius: 0.9rem;
  legend {
    font-family: "Montserrat bold";
    text-align: center;
  }
}
