@use "variables";

img,
table {
  max-width: 100%;
}

strong {
  font-family: "Montserrat Bold";
}

.nav-principal {
  color: variables.$primary;
  font-weight: bold;
}
.g {
  font-size: 9rem;
  font-family:"Montserrat bold";

}
.formulario-reserva
{
    color:white;
    background-color:variables.$dark;
    border-radius: 0.9rem;
    legend{
      font-family: "Montserrat bold";
      text-align: center; 
      font-size: 2rem;  
    }
    h6{
    text-align: center;
    }

}
button
{
background-color: variables.$primary;
text-align: center; 
color: #ffff;
border-radius: 0.5rem;
font-size: 1rem;
font-family:"Montserrat";
padding: 0.25rem ;
}

.bg-enc-text
{
background-color: variables.$primary;
text-align: center; 
color: #ffff;
padding: 0.25rem ;
}

.m {
  font-size: 4rem;
}

.formulario-inicio {
  color: white;
  background-color: variables.$dark;
  border-radius: 0.9rem;
  legend {
    font-family: "Montserrat bold";
    text-align: center;
  }
}

.pjustify {
  margin: 0;
  text-indent: 2rem;
  text-align: justify;
}

.btn-dob
{
  background-color: variables.$primary;
  text-align: center; 
  color: #ffff;
  font-size: 1rem;
  font-family:"Montserrat";
  padding: 0.25rem ;
  }
 
  .sub-title {
    font-family: "Montserrat bold";
    text-align: center;
    color: variables.$primary;
    font-weight: bold;
    font-size: 2rem;
  }
  .acord-title {
    font-family: "Montserrat bold";
    text-align: center;
    color: variables.$primary;
    font-weight: bold;
    font-size: 1rem;
  }
  .btn-dark
  {
    background-color: variables.$dark;
    text-align: center; 
    color: #ffff;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family:"Montserrat";
    padding: 0.25rem ;
    }

    .pq-text
    {
      background-color: variables.$primary;
      text-align: center; 
      color: #ffff;
      padding: 0.5rem ;
      }

      .img-fondo {

      background-image:url(../images/aeropuerto/Viaje_Combinado_0.jpg); 
      background-repeat: no-repeat;
      background-size: cover;
      }

      .aviso-reserva {
        text-align: justify; 
        color: #ffff; 
        font-size: 1.5rem;
        font-family:"Montserrat bold";
        padding: 0.5rem ;
      }

      .pilot-text
      {
        font-family:"Montserrat bold";
        text-align:center;
        font-size: 1.5rem;
        display:inline-block;
        color: rgb(81, 6, 6);
        border: 2px solid variables.$primary ;
        border-radius: 0.5rem;
        max-width: 100%;
        padding: 0.5rem ;
      }

      .text-bt-ligt
      {
        text-align: center; 
        color: #ffff;
        text-align: center;
        font-family:"Montserrat";
      }