{% extends 'base.html' %}
{% block titulo %}
Registro
{% endblock titulo %}

{% block contenido %}

    <div class="row mb-4">
      <div class="row">
        <div class="col-sm-12 col-lg-6 mb-3 mb-lg-0">
          
          <div class="nav-principal bg-enc-text"> <h1>PERFIL PASAJERO <br></h1>
          </div>        
          <label for="FormControl" class="form-label"></label>
          <div class="row gx-5">
           <div class="col">
            
          <div class="row" > <img class="img-fluid" src="{{url_for('static', filename='/images/aeropuerto/istockphoto-477815446-612x612.jpg')}}"  alt="piloto">
        </div>
       
        <label for="FormControl" class="form-label"></label>         
           </div>
           <div class="col-sm-8">
             <label for="FormControl" class="form-label"></label>
             <h2>LEONOR QUINTERO <br> </h2>
             <label for="FormControl" class="form-label"></label>
             <P></P>
             <p><strong class="ms-rteFontSize-2">FECHA DE NACIMIENTO</strong>
             <span class="ms-rteFontSize-2">: 03/16/1991 </span></p>
             <p><strong class="ms-rteFontSize-2">NACIONALIDAD</strong>
             <span class="ms-rteFontSize-2">: COLOMBIANA </span></p>
             <p><strong class="ms-rteFontSize-2">LUGAR DE NACIMIENTO</strong>
             <span class="ms-rteFontSize-2">: MEDELLIN </span></p>
             <p><strong class="ms-rteFontSize-2">TIPO DE SANGRE</strong>
             <span class="ms-rteFontSize-2">: O <b>RH: </b>+</span></p>
             <p><strong class="ms-rteFontSize-2">CELULAR</strong>
             <span class="ms-rteFontSize-2">: +57 312 687 4755 </span></p>
             <p><strong class="ms-rteFontSize-2">DIRECCION</strong>
             <span class="ms-rteFontSize-2">: AV. 6 CARRERA 24 - 09 </span></p>
             <p><strong class="ms-rteFontSize-2">CIUDAD DE RESIDENCIA</strong>
             <span class="ms-rteFontSize-2">: CALI</span></p>
             <p><strong class="ms-rteFontSize-2">E-MAIL</strong>
             <span class="ms-rteFontSize-2">: LONODA@GMAIL.COM</span></p>
             <p><strong class="ms-rteFontSize-2">CONTACTO DE EMRGENCIA</strong>
             <span class="ms-rteFontSize-2">: + 57 318 976 6873 </span></p> 
             <label for="FormControl" class="form-label"></label>
           </div>
         </div>

          <div class="container col-12">
            <div class="row">
              <div class="col-12">
               
                <form class="formulario-reserva p-4 mb-3">
                    <fieldset>
                    <legend>RESERVA TU VUELO</legend>
                    <h6>DESTINO</h6>
                      <div class="row mb-3">
                        <div class="col-sm-12 col-md-6 mb-3 mb-md-0">
                          <input class="form-control" type="text" name="origen" placeholder="DESDE">
                        </div>
                        <div class="col-sm-12 col-md-6">
                          <input class="form-control" type="text" name="destino" placeholder="HACIA">
                        </div>
                      </div>
                      <h6>FECHA DE VIAJE</h6>
                      <div class="row mb-3">
                        <div class="col-sm-12 col-md-6 mb-3 mb-md-0">
                          <input type="date" class="form-control" name="salida">
                        </div>
                        <div class="col-sm-12 col-md-6">
                          <input type="date" class="form-control" name="vuelta" >
                        </div>
                      </div>
                      <h6>QUIEN VIAJA</h6>
                      <div class="row mb-3">
                        <div class="col-sm-12 col-md-6 mb-3 mb-md-0">
                          <input type="number" class="form-control" name="adulto" placeholder="ADULTO">
                        </div>
                        <div class="col-sm-12 col-md-6">
                          <input type="number" class="form-control" name="nino" placeholder="NIÑO">
                        </div>
                      </div>
                      <div class="mb-3 form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="ida-vuelta" name="ida_vuelta">
                        <label class="form-check-label" for="ida-vuelta">Ida y Vuelta</label>
                      </div>
                      <div class="mb-3 form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="solo-ida" name="solo_ida">
                        <label class="form-check-label" for="solo-ida">Solo Ida</label>
                      </div>
                      <div class="row"><button type="submit">BUSCAR VUELOS</button></div>
                    </fieldset>
                  </form>

              </div>
            </div>
          </div>
        </div>

          <div class="col-sm-12 col-lg-6">
            <div class="card col-sm-12 col-sm-10">
              <div class="card-body">
                
                    <h3 class="card-title bg-enc-text">DETALLES DE VUELOS</h3>
                    <div class="img-fondo aviso-reserva">
                      <div class="row mb-4"> <p> Querida LEONOR</p> 
                        <h3>Tu reserva a sido confirmada</h3>
                        <p class="aviso-reserva">Gracias por tu compra</p>
                      </div>
                    </div>
                   
                    <div class="container-fluid">
                        <div class="row gx-5">
                          <div class="col">
                           <div class="p-3 border bg-light">
                           <h3 class="mb-3">ESTADO DE LA COMPRA</h3>
                           <div class="row mb-3">
                            <h5 class="col form-check-inline">Codigo de reserva:</h5>
                          <h5 class="col form-check-inline">Estado del pago: </h5></div>
                          <div class="row mb-3">
                            <h2 class="col form-check-inline">CJK56D</h2>
                            <h3 class="col form-check-inline"><img src="{{url_for('static', filename='/images/aeropuerto/tick-green2.png')}}" width="40" alt="logo mastercar"/>Pago aprobado</h3></div>
                           <div class="row mb-3">
                            <h5 class="col form-check-inline">Metodo de pago:</h5>
                            <h5 class="col form-check-inline">Cantidad a pagar: </h5>
                          </div>
                          <div class="row mb-3">
                            <h4 class="col form-check-inline"><img src="{{url_for('static', filename='/images/aeropuerto/MasterCard_early_1990s_logo.png')}}" width="40" alt="logo mastercar"/> 5413 XXXX XXXX XXXX </h4>
                            <h3 class="col form-check-inline">$ 193.870</h3></div>
                          </div>
                       </div>
                        </div>
                      </div>
  
              </div>
             </div>

             <h3 class="bg-enc-text">ESTADO DE VUELOS</h3>
             <div class="row mb-5">
               <div class="col"> 
                </div>
               <div class="col nav-principal"> SALIDA </div> 
               <div class="col nav-principal"> LLEGADA </div> 
             </div>
             <div class="row mb-5">
               <div class="col">  <img class="img-fluid" src="{{url_for('static', filename='images/iconos/aerolineas/Latam-logo.jpg')}}" width="100" alt=""> 
                </div>
               <div class="col"> 9:59 a.m Bogota </div> 
               <div class="col"> 10:59 a.m Cali </div> 
              </div>
              <div class="row mb-5">
               <div class="col"> 
                </div>
               <div class="col nav-principal"> SALIDA </div> 
               <div class="col nav-principal"> LLEGADA </div> 
             </div>
             <div class="row mb-5">
               <div class="col">  <img class="img-fluid" src="{{url_for('static', filename='images/iconos/aerolineas/Ultra_Air_Logo.png')}}" width="100" alt=""> 
                </div>
                <div class="col"> 9:59 p.m Cali </div> 
               <div class="col"> 10:59 p.m Bogota </div> 
              </div>

            </div>
          </div>
   {%endblock%}