{% extends 'base.html' %}
{% block titulo %}
User_register
{% endblock titulo %}

{% block contenido %}

    <div class="row">
      <div class="col-7">
        <h1 class=" bg-enc-text ">REGISTRATE AQUÍ</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <div class="well well-sm">
          <form class="form-control" method="post">
            <fieldset>
              <div class="sub-title">Datos Personales</div>

              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-8 m-2">
                  <input id="fname" name="fname" type="text" placeholder="Primer Nombre" class="form-control" autocomplete="off">
                </div>
              </div>

              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-8  m-2">
                  <input id="lname" name="lname" type="text" placeholder=" Primer Apellido" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8  m-2">
                  <input id="email" name="email" type="text" placeholder="Correo Electronico" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8  m-2">
                  <input id="email_conf" name="email_conf" type="text" placeholder="Confirmacion Correo Electronico"
                    class="form-control">
                </div>
              </div>

              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                <div class="col-md-8  m-2">
                  <input id="phone" name="phone" type="text" placeholder="Número de contacto" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                <div class="col-md-8  m-2">
                  <input id="address" name="address" type="text" placeholder="Dirección" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                <div class="col-md-8  m-2">
                  <input id="city" name="city" type="text" placeholder="Ciudad" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                <div class="col-md-8  m-2">
                  <input id="country" name="country" type="text" placeholder="Pais" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                <div class="col-md-8  m-2">
                  <input id="contact" name="contact" type="text" placeholder="Contacto de Emergencia"
                    class="form-control">
                </div>
              </div>

              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                <div class="col-md-8  m-2">
                  <input id="n_contact" name="n_contact" type="text" placeholder="Número del contacto"
                    class="form-control">
                </div>
              </div>

              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                <div class="col-md-8  m-2">
                  <input type="password" class="form-control" name="password" placeholder="Contraseña">
                </div>
              </div>

              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                <div class="col-md-8  m-2">
                  <input type="password_confirm" class="form-control" name="password_confirm"
                    placeholder="Confirmar Contraseña">
                </div>
              </div>

              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="aceptar-politicas" name="aceptar_politicas">
                <label class="form-check-label" for="aceptar-politicas">Acepto las politicas de privacidad</label>
              </div>
              <div class="form-group">
                <div class="col-md-12 text-center">
                  <button type="submit">REGISTRARME</button>
                  <button type="reset">LIMPIAR</button>
                 
                 </div>

              </div>
            </fieldset>
          </form>
        </div>
      </div>

      <div class="col-4">
        <div class="row">
          <div class="col-2"><p></p></div>
          <div class="col-8">
            <div class="row">
              <img src="
              {{url_for('static', filename='/images/aeropuerto/reserva_vuelo_gettyrf_1207226731_sankai_getty_images.jpg')}}" width="300" height="200" alt="">
              <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <button type="button" class="btn btn-dob"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>&nbsp;<a class="text-bt-ligt" href="{{url_for('reservas')}}">RESERVAS </a></button>
                <button type="button" class="btn btn-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tags-fill" viewBox="0 0 16 16">
                  <path
                    d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                  <path
                    d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043-7.457-7.457z" />
                </svg><a  class="text-bt-ligt" href="{{url_for('ofertas')}}">OFERTAS </a></button>
               </div>
            </div>

          <div class="col-2"><p></p></div>  
        </div>
        </div>
        <div>
          <p class="pjustify small">
            La vigilancia del tratamiento de los datos personales regulados en la Ley 1266 de 2008 se sujetará a lo previsto en dicha norma. 
            ARTÍCULO 23. La Superintendencia de Industria y Comercio podrá imponer a los Responsables del Tratamiento y 
            Encargados del Tratamiento las siguientes sanciones:

            a) Multas de carácter personal e institucional hasta por el equivalente de dos mil (2.000) salarios mínimos mensuales 
            legales vigentes al momento de la imposición de la sanción. Las multas podrán ser sucesivas mientras subsista el incumplimiento que las originó;
            b) Suspensión de las actividades relacionadas con el Tratamiento hasta por un término de seis (6) meses. En el acto de suspensión 
            se indicarán los correctivos que se deberán adoptar;
            c) Cierre temporal de las operaciones relacionadas con el Tratamiento una vez transcurrido el término de suspensión sin que se 
            hubieren adoptado los correctivos ordenados por la Superintendencia de Industria y Comercio;
            d) Cierre inmediato y definitivo de la operación que involucre el Tratamiento de datos sensibles;
            
            PARÁGRAFO.
            Las sanciones indicadas en el presente artículo sólo aplican para las personas de naturaleza privada. En el evento en el cual la Superintendencia 
            de Industria y Comercio advierta un presunto incumplimiento de una autoridad pública a las disposiciones de la presente ley, remitirá la actuación
            a la Procuraduría General de la Nación para que adelante la investigación respectiva.
          </p>
        </div>
      </div>
    </div>
    {%endblock%}